{
  "presets": [
    "env",
    "es2017"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator",
    [
      "transform-runtime",
      {
          "polyfill": false,
          "regenerator": true
      }
    ]
  ]
}